<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <servlet>
  
  	<servlet-name>abc</servlet-name>
  	<servlet-class>com.controller.AddNums</servlet-class>
  </servlet>
  <servlet-mapping>
  
  	<servlet-name>abc</servlet-name>
  	<url-pattern>/add</url-pattern>
  
  </servlet-mapping>
  
  <servlet>
  	
  	<servlet-name>loginServ</servlet-name>
  	<servlet-class>com.controller.LoginCheck</servlet-class>
  
  </servlet>
  
  <servlet-mapping>
  
  	<servlet-name>loginServ</servlet-name>
  	<url-pattern>/login</url-pattern>
  
  </servlet-mapping>
  
  <servlet>
  
  	<servlet-name>substractNumber</servlet-name>
  	<servlet-class>com.controller.SubstractNums</servlet-class> 

  </servlet>
  
  <servlet-mapping>
  
  	<servlet-name>substractNumber</servlet-name>
  	<url-pattern>/subNum</url-pattern>
  
  </servlet-mapping>
  
  <servlet>
  
  	<servlet-name>checkAuth</servlet-name>
  	<servlet-class>com.controller.CheckAuth</servlet-class>
  
  </servlet>
  <servlet-mapping>
  
  	<servlet-name>checkAuth</servlet-name>
  	<url-pattern>/checkAuth</url-pattern>
  
  </servlet-mapping>
  
  <servlet>
  
  	<servlet-name>salarySlips</servlet-name>
  	<servlet-class>com.controller.SalarySlips</servlet-class>
  
  </servlet>
  <servlet-mapping>
  
  	<servlet-name>salarySlips</servlet-name>
  	<url-pattern>/salarySlips</url-pattern>
  	
  </servlet-mapping>

</web-app>